<a href="https://colab.research.google.com/github/anu-082006/Git-and-Github-RVU/blob/main/Python_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêç‚ú® Python Workshop [ Beginner Level ]

> **Designed & Curated by the AI & ML Team** üß†üíª

---

üéØ **Welcome!**  
You're about to begin an exciting journey into Python ‚Äî one of the most powerful, beginner-friendly programming languages used in **AI**, **ML**, **Data Science**, **Web Development**, and much more!

---
## üóìÔ∏è Workshop Agenda

| üï∞Ô∏è Time               | üß† Topic                                                                 |
|-----------------------|------------------------------------------------------------------------|
| **9:10 ‚Äì 11:10 AM**   | üìò Introduction to Python Programming                                   |
|   | üßÆ Variables, Input Statements & Data Types                             |
|   | üîÅ Control Structures: Conditional Statements & Loops                   |
|  | ‚òï **Short Break**                                                       |
|  | üì¶ Data Structures: Lists and Dictionaries                              |

---

## üóÇÔ∏è Workshop Outline

| üî¢ Section | üß© Topic                             | üìù Activities                        |
|-----------|--------------------------------------|--------------------------------------|
| 1         | Introduction to Python               | Setup, Hello World                   |
| 2         | Variables & Data Types               | Live coding, Input/output            |
| 3         | Control Flow                         | If-Else, Loops, Conditions           |
| 4         | Functions & Modules                  | Creating, Calling, Importing         |
| 5         | Data Structures                      | List, Tuple, Dictionary, Set         |
| 6         | Practice Excercises                  | For Each Concept                     |

---

## üéØ Learning Outcomes

By the end of this workshop, you will be able to:

‚úÖ Understand core Python syntax  
‚úÖ Write clean and readable code  
‚úÖ Use data types, control flow, and loops  
‚úÖ Build and import Python modules   
‚úÖ Apply logic to solve real problems  

---

## üíª What You Need

- üêç Python 3.7 or above (Anaconda Recommended)  
- üìì Jupyter Notebook (comes with Anaconda)  
- üë©‚Äçüíª Optional: VS Code or any text editor

---

## üß≠ Getting Started

> Run each code cell by clicking it and pressing `Shift + Enter`.

üü© Code cells ‚Äî for writing and running Python code  
üü® Markdown cells ‚Äî for reading instructions and notes  
üí° Try changing code and running it again to see what happens!

---

## üî∞ Pro Tip

- Use `#` for writing comments inside your code
- Practice by typing code ‚Äî not just reading it
- When in doubt, print it out (`print()` is your friend!)

---

## üöÄ Let‚Äôs Begin!

üëá Scroll down to start with your first concept:

#### üßë‚Äçüéì Student Details

| Field                | Information                |
|---------------------|----------------------------|
| üë®‚Äçüéì **Name**            | _Annapurna S_     |
| üÜî **USN**              | _1RUA24CSE0060_           |
| **Section**        | _A_ |
| **Programme**   | B.Tech(H)             |
| **School**  | Computer Science and Engineering |

The material presented on this website assumes no prior knowledge of Python. Experience with programming concepts or another programming language will help, but is not required to understand the material.

The website/Notebook comprises the following:
1. **Section**: these contain the core content. Read through these at your leisure.
2. **Practice Exercises**: there are optional practice exercise sets to complement each chapter (solutions included). Try your hand at these for extra practice and to help solidify concepts in the **Chapters**.

# üêç Introduction to Python

## üîç What is Python?
Python is a high-level, easy-to-learn programming language used for web development, automation, data science, machine learning, and more.


## üèõÔ∏è History of Python
- **1989**: Created by **Guido van Rossum** during Christmas at CWI, Netherlands.
- **1991**: First version (0.9.0) released.
---

## üéØ Motivation Behind Python
Guido wanted a language that:
- Is simple and readable
- Supports multiple programming styles
- Is open-source and easy to extend
- Encourages writing clean, logical code

üëâ Inspired by the **ABC language** and **Monty Python** comedy show.

---

## üí° Why Python?
- Easy to read and write (English-like syntax)
- Cross-platform and open-source
- Huge library support (NumPy, Pandas, Flask, etc.)
- Strong community and documentation


## üåç Where is Python Used?
- Google, YouTube, Netflix, NASA
- AI/ML, web apps, automation, games, IoT

---

## ‚úÖ Example
```python
print("Hello, Python!")

In [1]:
import platform
import psutil
from datetime import datetime
import sys
import getpass
import os

# Timestamp
timestamp = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
# System Information
system_info = {
    "User Name": getpass.getuser(),
    "Timestamp": timestamp,
    "OS": platform.system() + " " + platform.release(),
    "Processor": platform.processor(),
    "RAM (GB)": round(psutil.virtual_memory().total / (1024 ** 3), 2),
    "Python Version": platform.python_version(),
    "Working Directory": os.getcwd()
}
# Print formatted results
print("üßë‚Äçüíª System Details\n" + "-"*40)
for key, value in system_info.items():
    print(f"{key:20}: {value}")

üßë‚Äçüíª System Details
----------------------------------------
User Name           : root
Timestamp           : 2025-08-07 04:40:51
OS                  : Linux 6.1.123+
Processor           : x86_64
RAM (GB)            : 12.67
Python Version      : 3.11.13
Working Directory   : /content

### Basic Python Terminologies

| Concept Category                  | Terminologies                                                                                         | Description / Notes |
|----------------------------------|------------------------------------------------------------------------------------------------|----------------------|
| **Basics**                       | [Variables](#variables), [Indentation](#indentation), [Comment](#comment)                     | Fundamental elements of Python syntax |
| **Modularization**               | [Module](#module), [Package](#package)                                                        | Code reuse & organization |
| **Execution**                    | [Interpreter](#interpreter), [Virtual Environment](#virtual-python-environment), [Pseudocode](#pseudocode) | Code execution & planning |
| **Data Types & Structures**      | [String](#string), [Int](#int), [Float](#float), [Boolean](#boolean), [List](#list), [Tuple](#tuple), [Dictionary](#dictionary), [Set](#set) | Python's core data representation |
| **Control Flow**                 | [If](#if), [Else-if](#else-if), [For Loop](#for), [While Loop](#while), [Break](#break), [Continue](#continue) | Logical decision-making and repetition |
| **Functions & OOP**              | [Function](#function), [Argument/Parameter](#argumentparameter), [Return](#return), [Method](#method), [Lambda](#lambda), [Object](#object), [Inheritance](#inheritance), [Self](#self) | Code modularity & OOP principles |
| **Error Handling**               | [Exception](#exception)                                                                       | Handling runtime errors |
| **Programming Paradigms**        | [Procedural](#procedural), [Functional](#functional), [Object-Oriented](#object)              | Different styles of writing programs |

#### Practice Examples : Variables, Intendation and Comments

- A **value** is a piece of data that a computer program works with such as a number or text. There are different **types** of values: `42` is an integer and `"Hello!"` is a string.

- A **variable** is a name that refers to a value. In mathematics and statistics, we usually use variable names like $x$ and $y$. In Python, we can use any word as a variable name as long as it starts with a letter or an underscore. However, it should not be a [reserved word](https://docs.python.org/3.3/reference/lexical_analysis.html#keywords) in Python such as `for`, `while`, `class`, `lambda`, etc. as these words encode special functionality in Python that we don't want to overwrite!

It can be helpful to think of a variable as a box that holds some information (a single number, a vector, a string, etc). We use the **assignment operator** `=` to assign a value to a variable.

In [4]:
# Example Program: NASA Astronaut Profile

# üë©‚ÄçüöÄ Variable Declarations
astronaut_name = "Dr. Riya Sharma"    # Name of astronaut
mission_year = 2025                   # Mission launch year
moon_landing = True                   # Will land on moon?
oxygen_level = 87.5                   # Oxygen level in percentage

# üõ∞Ô∏è Output the astronaut's info
print("Astronaut Profile")
print("Name:", astronaut_name)
print("Mission Year:", mission_year)
print("Moon Landing Scheduled:", moon_landing)
print("Oxygen Level:", oxygen_level, "%")

# üìå Indentation and Condition Example
if oxygen_level > 80:
    print("Status: Oxygen level is sufficient for mission.")
else:
    print("Status: Oxygen level is LOW! Alert required.")

# üìù Type check (for learning purpose)
print("Type of oxygen_level variable:", type(oxygen_level))

Astronaut Profile
Name: Dr. Riya Sharma
Mission Year: 2025
Moon Landing Scheduled: True
Oxygen Level: 87.5 %
Status: Oxygen level is sufficient for mission.
Type of oxygen_level variable: <class 'float'>

In [3]:
# üîÅ Task for Students: Input from user
# Uncomment below lines to take input dynamically
astronaut_name = input("Enter astronaut name: ")
oxygen_level = float(input("Enter current oxygen level: "))
print("Updated name:", astronaut_name)
print("Updated oxygen level:", oxygen_level)

# ‚úÖ Comment Example
# This program simulates a simple astronaut profile used in NASA system.
# Variables are used to store and display astronaut details.

Enter astronaut name: shubanshu shukla
Enter current oxygen level: 87.5
Updated name: shubanshu shukla
Updated oxygen level: 87.5

### Common built-in Python data types

| English name          | Type name  | Type Category  | Description                                   | Example                                    |
| :-------------------- | :--------- | :------------- | :-------------------------------------------- | :----------------------------------------- |
| integer               | `int`      | Numeric Type   | positive/negative whole numbers               | `42`                                       |
| floating point number | `float`    | Numeric Type   | real number in decimal form                   | `3.14159`                                  |
| boolean               | `bool`     | Boolean Values | true or false                                 | `True`                                     |
| string                | `str`      | Sequence Type  | text                                          | `"I Can Has Cheezburger?"`                 |
| list                  | `list`     | Sequence Type  | a collection of objects - mutable & ordered   | `['Ali', 'Xinyi', 'Miriam']`               |
| tuple                 | `tuple`    | Sequence Type  | a collection of objects - immutable & ordered | `('Thursday', 6, 9, 2018)`                 |
| dictionary            | `dict`     | Mapping Type   | mapping of key-value pairs                    | `{'name':'DSCI', 'code':511, 'credits':2}` |
| none                  | `NoneType` | Null Object    | represents no value                           | `None`                                     |

### Numeric data types

There are three distinct numeric types: `integers`, `floating point numbers`, and `complex numbers` (not covered here). We can determine the type of an object in Python using `type()`. We can print the value of the object using `print()`.

In [7]:
x = 42

In [6]:
type(x)

int

In [8]:
print(x)

42

In [9]:
'''
In Jupyter/IPython (an interactive version of Python), this line of a cell will automatically
be printed to screen so we don't actually need to explicitly call `print()`.
'''
x

42

#### üîπ Exercise: Integer and Float Variables
Create the following variables and print their values and types:

- `roll_number = 25` (int)
- `percentage = 89.6` (float)

In [11]:
#Write your code below this line in this cell ..
roll_number = 25
print(type(roll_number))

percentage = 89.6
print(type(percentage))

<class 'int'>
<class 'float'>

### Arithmetic Operators

Below is a table of the syntax for common arithmetic operations in Python:

| Operator |   Description    |
| :------: | :--------------: |
|   `+`    |     addition     |
|   `-`    |   subtraction    |
|   `*`    |  multiplication  |
|   `/`    |     division     |
|   `**`   |  exponentiation  |
|   `//`   | integer division / floor division |
|   `%`    |      modulo      |

Let's have a go at applying these operators to numeric types and observe the results.

In [12]:
# Numeric operations
x = 1 + 2 + 3 + 4 + 5        # Addition
y = 2 * 3.14159              # Multiplication with float (approximate value of pi)
z = 2 ** 10                  # Exponentiation (2 to the power of 10)

# Detailed output
print("Sum of 1 to 5 is:", x)
print("Circumference of circle with r=1 (approx.):", y)
print("2 raised to the power 10 is:", z)

Sum of 1 to 5 is: 15
Circumference of circle with r=1 (approx.): 6.28318
2 raised to the power 10 is: 1024

In [13]:
# Division may produce a different `dtype` than expected, it will change `int` to `float`.
int_var = 2
type(int_var)

int

In [14]:
division = int_var / int_var
division

1.0

In [15]:
type( division)

float

#### üîπ Exercise: Arethmatic Operators

1. Create a variable to store your age and print it.
(Covers variable declaration, numeric type, and print function)
2. Given distance = 150 and time = 3, calculate and print the average speed.
(Introduces real-world use of numeric data and division)
3. Use exponentiation to calculate 2 raised to the power 5 and print the result.
(Covers the ** operator and basic math)

In [16]:
#Write your code below this line in this cell ..
age = 25
print(age)
distance = 150
time = 3
speed = distance/time
print(speed)
print(2**5)

25
50.0
32

### Strings
**Text is stored as a data type called a string**. We can think of a string as a sequence of characters.

We write strings as characters enclosed with either:

- single quotes, e.g., 'Hello'
-  double quotes, e.g., "Goodbye"

There's no difference between the two methods, but there are cases where having both is useful (more on that below)! We also have triple double quotes, which are typically used for function documentation (more on that in a later chapter), e.g., """This function adds two numbers""".

In [17]:
My_name = "Ashwini Kumar Mathur"
type(My_name)

str

In [18]:
# If the string contains a quotation or apostrophe, we can use a combination of single and double quotes to define the string.

Sentence01 = "It's a rainy day."
Sentence02 = 'Donald Knuth: "Premature optimization is the root of all evil."'
print(type(Sentence01))
print(type(Sentence02))

<class 'str'>
<class 'str'>

#### üîπ Exercise: String Operations

1. Create a variable to store your full name and print it.  
   (Covers string declaration and print function)
   
3. Concatenate two strings: "Hello" and your name. Print the greeting.  
   (Introduces string concatenation)
   
5. Find the length of your name using the `len()` function.  
   (Covers use of built-in functions)

7. Convert your name to all uppercase and print it.  
   (Uses `.upper()` string method)

8. Check if your name starts with the letter "A" and print the result.  
   (Uses `.startswith()` method)

9. Split the full name into first name and last name. Print both.  
   (Uses `.split()` method)

10. Replace your last name with "Verma" and print the new name.  
   (Demonstrates `.replace()` method)

In [21]:
#Write your code below this line in this cell ..
fullname = "ANNAPURNA S"
print(fullname)
greeting = "Hello " + fullname
print(greeting)
name_length = len(fullname)
print(name_length)
name_uppercase = fullname.upper()
print(name_uppercase)
starts_with_a = fullname.startswith("A")
print(starts_with_a)
first_name, last_name = fullname.split()
print(first_name, last_name)
new_name = fullname.replace("S", "Verma")
print(new_name)

ANNAPURNA S
Hello ANNAPURNA S
11
ANNAPURNA S
True
ANNAPURNA S
ANNAPURNA Verma

### Boolean

The Boolean (`bool`) type has two values: `True` and `False`.

In [22]:
the_truth = True
type(the_truth)

bool

#### üîπ Exercise: Boolean Operations (Good 2‚Äì3 Questions)

1. Set `age = 18`. Write a condition to check if the person is eligible to vote (age ‚â• 18).  
   (Covers comparison and condition checking)

2. Given `is_student = True` and `has_id = False`, check if both are true using `and`.  
   (Covers logical AND)

3. Reverse the result of the expression `5 > 10` using `not`.  
   (Covers logical NOT)

In [39]:
#Write your code below this line in this cell ..
age = 25
is_student = True
has_id = False
print(is_student and has_id)
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")
print(not 5 > 10)

False
Eligible to vote
True

### Comparison Operators

We can compare objects using comparison operators, and we'll get back a Boolean result:

| Operator  | Description                          |
| :-------- | :----------------------------------- |
| `x == y ` | is `x` equal to `y`?                 |
| `x != y`  | is `x` not equal to `y`?             |
| `x > y`   | is `x` greater than `y`?             |
| `x >= y`  | is `x` greater than or equal to `y`? |
| `x < y`   | is `x` less than `y`?                |
| `x <= y`  | is `x` less than or equal to `y`?    |
| `x is y`  | is `x` the same object as `y`?       |

In [24]:
2 < 3

True

In [25]:
"Machine learning" == "Solve all the world's problems"

False

In [26]:
2 != "2"

True

In [27]:
2 == 2.0

True

#### üîπ Exercise: Comparison Operators

1. Set `a = 10` and `b = 20`. Check if `a` is less than `b`.  
   (Uses `<` operator)

2. Check if `a` is greater than or equal to `b`.  
   (Uses `>=` operator)

3. Compare two strings: `name1 = "Ashish"` and `name2 = "ashish"`. Are they equal?  
   (Uses `==` operator and introduces case sensitivity)

In [28]:
#Write your code below this line in this cell ..
a = 10
b = 20
print(a < b)
print( a >= b)
name1 = "Ashish"
name2 = "ashish"
print(name1 == name2)

True
False
False

## Boolean Operators

We also have so-called "boolean operators" which also evaluates to either `True` or `False`:

| Operator | Description |
| :---: | :--- |
|`x and y`| are `x` and `y` both True? |
|`x or y` | is at least one of `x` and `y` True? |
| `not x` | is `x` False? |

In [29]:
True or False

True

In [30]:
("Python 2" != "Python 3") and (2 <= 3)

True

In [31]:
not not True

True

#### üîπ Exercise: Boolean Operators

1. Let `x = True` and `y = False`. Evaluate `x and y`.  
   (Demonstrates logical AND)

2. Let `x = True` and `y = False`. Evaluate `x or y`.  
   (Demonstrates logical OR)

3. Let `status = True`. Use `not` to reverse the value.  
   (Demonstrates logical NOT)

In [32]:
x = True
y = False
print(x and y)
print(x or y)
status = True
print(not status)

False
True
False

### Casting [ Optional ]

Sometimes we need to explicitly **cast** a value from one type to another. We can do this using functions like `str()`, `int()`, and `float()`. Python tries to do the conversion, or throws an error if it can't.

In [33]:
x = 5.0
type(x)

float

In [34]:
x = str(5.0)
print(x)
print(type(x))

5.0
<class 'str'>

### Control Structures and Loops
<hr>

## ‚úÖ Control Structures

Control structures help you make decisions in your code based on conditions.

| Structure | Description |
| :---: | :--- |
| `if x:` | Executes block if `x` is `True` |
| `if x else:` | Executes first block if `x` is `True`, else the second block |
| `elif` | Checks another condition if previous `if` was `False` |
| `if x == y:` | Executes block only if `x` is equal to `y` |

---

## üîÅ Loops

Loops let you repeat a block of code multiple times.

| Loop | Description |
| :---: | :--- |
| `for item in list:` | Iterates over each item in a list or range |
| `for i in range(n):` | Repeats loop `n` times with `i` from 0 to `n-1` |
| `while condition:` | Repeats as long as the condition is `True` |
| `break` | Exits the loop early |
| `continue` | Skips the current iteration and continues the loop |

#### Scenario: Control Structure
**Each team submits a project. Based on the score (out of 100), assign a remark.**

In [35]:
# Hackathon Project Evaluation
score = 85

if score >= 90:
    print("Remark: Outstanding Innovation")
elif score >= 75:
    print("Remark: Excellent Work")
elif score >= 60:
    print("Remark: Good Effort")
elif score >= 40:
    print("Remark: Fair Attempt")
else:
    print("Remark: Needs Improvement")

Remark: Excellent Work

#### Control Structure Exercise

**Task Fuel Level Check**
<hr>

Ask the user to input the fuel level percentage.

If fuel ‚â• 90: Print ‚ÄúReady for Launch üöÄ‚Äù

If 70 ‚â§ fuel < 90: Print ‚ÄúPrepare for Launch - Fuel Optimal ‚úÖ‚Äù

If 40 ‚â§ fuel < 70: Print ‚ÄúWarning - Fuel Low ‚ö†Ô∏è‚Äù

If fuel < 40: Print ‚ÄúAbort Mission ‚ùå - Critical Fuel Level‚Äù

In [36]:
#Write your code below this line in this cell ..
print("Enter the fuel level percentage")
fuel = int(input())

if fuel >= 90:
    print("Ready for Launch üöÄ")
elif 70 <= fuel < 90:
    print("Prepare for Launch - Fuel Optimal ‚úÖ")
elif 40 <= fuel < 70:
    print("Warning - Fuel Low ‚ö†Ô∏è")
else :
    print("Abort Mission ‚ùå - Critical Fuel Level")

Enter the fuel level percentage
100
Ready for Launch üöÄ

#### Mission: Countdown to Launch

Write a for loop to count down from 10 to 1 and print:

In [37]:
# Sample Logic
for t in range(10, 0, -1):
    print("T-minus", t) #careful about indentation.
print("üöÄ Lift-off!")

T-minus 10
T-minus 9
T-minus 8
T-minus 7
T-minus 6
T-minus 5
T-minus 4
T-minus 3
T-minus 2
T-minus 1
üöÄ Lift-off!

#### Mission: Task for Rover Battery Check

<hr>

**Simulate rover battery draining every hour. Stop when it drops below 20%.**

In [40]:
#Write your code below this line in this cell ..
battery_level = 100

while battery_level >= 20:
    print("Battery level:", battery_level, "%")
    battery_level -= 20

Battery level: 100 %
Battery level: 80 %
Battery level: 60 %
Battery level: 40 %
Battery level: 20 %

### Data Structures - List, Tuple and Dictionaries
<hr>

### List ‚Äî To Store Student Names
<hr>
**Scenario:** A teacher wants to store and manage the names of students attending a Python workshop.

**Key Characteristics:**

- Ordered
- Mutable (can add/remove)
- Suitable for collections of similar items

In [41]:
# List of students
students = ["Arjun", "Beena", "Chirag"]

# Add a new student
students.append("Divya")

# Remove a student who dropped out
students.remove("Beena")

# Display all students
for name in students:
    print(name)

Arjun
Chirag
Divya

#### üîπ Exercise: List Operations

1. Create a list of your 5 favorite fruits and print the list.  
   (Covers list creation and print function)

2. Add a new fruit to the list using `append()` and print the updated list.  
   (Demonstrates list mutation)

3. Remove the third item from the list using `pop()` and display the final list.  
   (Covers indexing and list modification)

In [44]:
#Write your code below this line in this cell ..
fruits = ["apple", "banana", "pomogrenate", "kiwi", "orange"]
fruits.append("papaya")
fruits.pop(3)

'kiwi'

### Tuple ‚Äî To Store Coordinates of Classroom Seats
<hr>
**Scenario:** Each student has a fixed assigned seat represented as (row, column) in the classroom.

**Key Characteristics:**
- Ordered
- Immutable
- Suitable for fixed data like coordinates, date, RGB colors

In [45]:
# Fixed seat positions (row, column)
seat_A = (1, 2)
seat_B = (2, 3)

# Accessing tuple values
print("Row of seat_A:", seat_A[0])

# seat_A[0] = 4  # ‚ùå Error: Tuples are immutable

Row of seat_A: 1

#### üîπ Exercise: Tuple Operations

1. Create a tuple containing the names of 3 programming languages.  
   (Covers tuple creation)

2. Access and print the second item from the tuple.  
   (Covers indexing)

3. Try to change the first item of the tuple and observe what happens.  
   (Demonstrates tuple immutability)

In [ ]:
#Write your code below this line in this cell ..

#### Dictionary ‚Äî To Store Student Marks
**Scenario:** Store marks of students using names as keys.
<hr>

**Key Characteristics:**

- Key-value pairs
- Unordered (in older versions of Python)
- Mutable
- Ideal for mappings (name ‚Üí mark, ID ‚Üí profile, etc.)

In [ ]:
# Dictionary with student marks
marks = {
    "Arjun": 85,
    "Chiru": 78,
    "Divya": 92
}

# Update marks
marks["Chiru"] = 81

# Add a new entry
marks["Elina"] = 88

# Display all student marks
for student, score in marks.items():
    print(f"{student} scored {score}")

#### üîπ Exercise: Dictionary Operations

1. Create a dictionary with keys: `"name"`, `"age"`, and `"grade"` and assign appropriate values.  
   (Covers dictionary creation)

2. Add a new key `"subject"` with the value `"Math"` to the dictionary.  
   (Demonstrates adding key-value pairs)

3. Update the value of `"grade"` to `"A+"` and print the updated dictionary.  
   (Covers value updating)

In [ ]:
#Write your code below this line in this cell ..

### üìã Summary Table: List vs Tuple vs Dictionary

| Data Structure | Use Case                     | Ordered | Mutable | Syntax Example                | Access Example     |
|----------------|------------------------------|---------|---------|-------------------------------|--------------------|
| **List**       | Store a list of student names | ‚úÖ Yes  | ‚úÖ Yes  | `["Arjun", "Beena"]`          | `students[0]`      |
| **Tuple**      | Fixed seat coordinates        | ‚úÖ Yes  | ‚ùå No   | `(1, 2)`                      | `seat[1]`          |
| **Dictionary** | Map student name to marks     | ‚úÖ\*     | ‚úÖ Yes  | `{"Arjun": 85, "Divya": 92}`  | `marks["Arjun"]`   |

**End of Morning Session**
<hr>

Upcoming Session starts from 1:30 PM. See you soon..